@import "../../style/var";
.notification {
  &__inner {
    position: fixed;
    left: $spacing-large;
    bottom: $spacing-large;
    display: flex;
    align-items: center;
    padding: $spacing-medium $spacing-medium;
    border: 1px solid $color-black;
    background-color: $color-white;
  }
  &__close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: $spacing-large;
  }
}