.comics {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    width: 250px;
    margin: $spacing-large;
    background-color: $color-light;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
  }
  &__item:hover {
    transform: rotate(-3deg) scale(0.95);
    filter: saturate(150%);
  }
  &__item_title {
    display: flex;
    margin: auto;
    padding: $spacing-small $spacing-medium;
  }
  &__item_img {
    width: 100%;
  }
}