@import "../../style/libs";
@import "../../style/reset";
@import "../../style/fonts";
@import "../../style/var";

html,
body {
  height: 100%;
  background-color: $color-dark;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Montserrat";
}

:global(.wrapper) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

:global(.main) {
  flex: 1 0 auto;
}

:global(.footer) {
  flex: 0 0 auto;
}

:global(.container) {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

:global(.img-contain) {
  display: block;
  object-fit: contain;
  object-position: center;
}

:global(.img-cover) {
  display: block;
  object-fit: cover;
  object-position: center;
}

/* scrollbar for FireFox */
* {
  scrollbar-color: $color-turquoise $color-dark;
  scrollbar-width: thin;
}

/* scrollbar for Chrome */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-turquoise;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: $color-dark;
}