/* Colors */
$color-white: #fff;
$color-black: #000;
$color-dark: #222222;
$color-light: #f8f9fa;
$color-turquoise: #6fd1e4;
$color-error-light: #f25b6b;
$color-error-dark: #c54646;

/* Spacing */
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 30px;

/* Shadow */
$box-shadow-characters: 0 2px 24px rgba(168, 175, 196, 0.5);
$box-shadow: 0 16px 24px 2px rgba(79, 85, 91, 0.5),